---
layout: home.html
---

<!-- POSTS -->
<div class="post-preview-list">
    <h3 class="post-preview-list__title">
        Posts
    </h3>
    <div class="post-preview-list__content">
        {% assign posts = collections.posts | limit: 3 %}
        {% for post in posts %}
            <div class="post-preview">
                <h2 class="post-preview__title">
                    <a class="post-preview__title-link" href="{{ post.url }}">
                        {{ post.data.title }}
                    </a>
                </h2>
                <p class="post-preview__body">{{ post.data.excerpt }}</p>
                <a class="read-more-button" href="{{ post.url }}">
                    <span class="read-more-button__text">Read more</span>
                    <img class="read-more-button__icon" src="/assets/icons/right-arrow.svg" />
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- PRINCIPLES -->
<div class="post-preview-list">
    <h3 class="post-preview-list__title">
        Principles
    </h3>
    <div class="post-preview-list__content">
        {% assign principles = collections.principles | limit: 3 %}
        {% for principle in principles %}
            <div class="post-preview">
                <h2 class="post-preview__title">
                    <a class="post-preview__title-link" href="{{ principle.url }}">
                        {{ principle.data.title }}
                    </a>
                </h2>
                <p class="post-preview__body">{{ principle.data.excerpt }}</p>
                <a class="read-more-button" href="{{ principle.url }}">
                    <span class="read-more-button__text">Read more</span>
                    <img class="read-more-button__icon" src="/assets/icons/right-arrow.svg" />
                </a>
            </div>
        {% endfor %}
    </div>
</div>