/* // NORMALIZE */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button, input { /* 1 */
    overflow: visible;
}

button, select { /* 1 */
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}


[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}


[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* // MAIN */
:root {
    --paper-0: #F8F8E5;
    --ink-0: #02151E;
    --ink-2: #112732;
    --ink-4: #073043;
    /* TODO[C] Refine this color */
    --ink-10: #436678;
    --ink-12: #484b4b;

    --font-overpass-mono: "Overpass Mono", serif;
    --font-hammersmith-one: "Hammersmith One", serif;
    --font-sen: "Sen", serif;

    --breakpoint-mobile: 600px;
}

* {
    box-sizing: border-box;
}

/* BODY, PAGE, FOOTER */

body {
    background-color: var(--paper-0);
    display: flex;
    justify-content: center;
}

.page {
    width: 100%;
    max-width: 800px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 73px 0px 15px;
}

.footer--category {
    max-width: 670px;
}

.footer__link {
    font-family: var(--font-overpass-mono);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--ink-12);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

/* HOME */
/* HOME PAGE */
.home {
    width: 100%;
    max-width: 800px;
    padding: 78px 15px 146px;
}

.home__header {
    padding-bottom: 63px;
}

.home__title {
    font-family: var(--font-hammersmith-one);
    font-size: 80px;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--ink-4);
    
    margin: 0;
    padding: 0 0 78px 0;
}

.home__description {
    font-family: var(--font-overpass-mono);
    font-size: 22px;
    line-height: 1.5;
    color: var(--ink-0);
    font-weight: 400;

    max-width: 670px;
}

.home__description p {
    margin: 0px 0px 15px;
    padding: 0;
}

.home__description p:last-child {
    margin: 0;
}

/* HOME - MOBILE */
@media (max-width: 600px) {

    .home {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .home__header {
        padding-bottom: 50px;
    }

    .home__title {
        font-size: 60px;
        padding-bottom: 40px;
    }

    .home__description {
        font-size: 20px;
    }
}


/* POST PREVIEW LIST */
.post-preview-list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-bottom: 100px;
}

.post-preview-list:last-child {
    padding-bottom: 0;
}

.post-preview-list__title {
    max-width: 670px;
    opacity: 0.8;

    font-family: var(--font-overpass-mono);
    font-size: 18px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--ink-4);
    font-weight: 700;
    letter-spacing: 5px;
    
    margin: 0;
    padding: 0;
}

.post-preview-list__title-link {
    text-decoration: none;
    color: inherit;
}

.post-preview-list__title-link:hover {
    text-decoration: underline;
}

.post-preview-list__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* POST PREVIEW LIST - MOBILE */
@media (max-width: 600px) {
    .post-preview-list {
        gap: 15px;
        padding-bottom: 50px;
    }
    
    .post-preview-list__title {
        font-size: 16px;
    }
    
}

/* POST PREVIEW */
.post-preview {
    max-width: 670px;
    padding: 50px 80px 50px 50px;
    border-radius: 9px;
    border: 2px solid var(--ink-4);
}

.post-preview__title {
    font-family: var(--font-sen);
    font-size: 27.5px;
    line-height: 1.6;
    color: var(--ink-4);

    margin: 0px 0px 25px;
}

.post-preview__title-link {
    text-decoration: none;
    color: inherit;
}

.post-preview__title-link:hover {
    text-decoration: underline;
}

.post-preview__body {
    font-family: var(--font-overpass-mono);
    font-size: 22px;
    line-height: 1.5;
    color: var(--ink-0);
    font-weight: 400;
    margin: 0px 0px 25px;
}

.post-preview__button {

}

/* POST PREVIEW - MOBILE */
@media (max-width: 600px) {
    .post-preview {
        padding: 35px;
    }

    .post-preview__title {
        font-size: 22px;
    }

    .post-preview__body {
        font-size: 20px;
    }
}


/* # */
/* POST */
.post {
    width: 100vw;
    max-width: 800px;
    min-height: calc(100vh - 114px); /* minus footer height */
    padding: 73px 15px;
}

.post__title {
    font-family: var(--font-hammersmith-one);
    font-size: 80px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--ink-4);
    padding-bottom: 78px;
}

.post__content {
    font-family: var(--font-overpass-mono);
    font-size: 22px;
    line-height: 1.5;
    color: var(--ink-0);
    font-weight: 400;
}

.post__content p:first-child {
    margin-top: 0;
}

.post__content p {
    margin: 24px 0 15px;
}

.post__content p:last-child {
    margin-bottom: 0;
}

.post__content ul {
    margin: 0px 0px 50px;
}

.post__content li {
    margin: 12px 0;
}

.post__navigation {
    padding: 50px 0px 0px;
}

/* POST - MOBILE */
@media (max-width: 600px) {
    .post {
        padding-top: 40px;
        padding-bottom: 50px;
        overflow-x: hidden;
    }

    .post__title {
        font-size: 60px;
        padding-bottom: 40px;
    }

    .post__content {
        font-size: 20px;
    }

    .post__navigation {
        padding-top: 30px;
    }
}

/* CATEGORY BUTTON */
.category-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;

    width: fit-content;

    font-family: var(--font-overpass-mono);
    font-size: 17px;
    line-height: 1.5;
    color: inherit;
    text-decoration: none;

    padding-bottom: 67px;
}

.category-button__part {
    
    color: var(--paper-0);
    
    padding: 3px 14px 0px 18px;
    background-color: var(--ink-4);

    border: 2px solid var(--ink-4);
    border-radius: 11px 0px 0px 11px;
}

.category-button__name {

    color: var(--ink-0);

    padding: 3px 18px 0px 14px;

    border: 2px solid var(--ink-4);
    border-radius: 0px 11px 11px 0px;
}

/* CATEGORY BUTTON - MOBILE */
@media (max-width: 600px) {
    .category-button {
        font-size: 15px;
        padding-bottom: 40px;
    }
}

/* READ MORE BUTTON */
.read-more-button {
    /* display: flex;
    align-items: center;
    gap: 10px; */
}

.read-more-button__text {
    display: inline;

    font-family: var(--font-overpass-mono);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--ink-0);
    text-decoration: underline;
}

.read-more-button__icon {
    display: inline;
    vertical-align: middle;
    padding-bottom: 4px;
    padding-left: 10px;
}

/* READ MORE BUTTON - MOBILE */
@media (max-width: 600px) {
    .read-more-button__text {
        font-size: 16px;
    }
}